<!--chen-->
<dl ng-if="userRole === 1" ng-switch="daohanglan">
    <dt>chen</dt>
    <dd class="top-class" ng-click="daohanglanClick(1)">
        <a ng-class="{active: state.includes('main.chen')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-kunnanrending"></use>
            </svg>
            chen啊啊啊</a>
    </dd>
    <dd class="top-class" ng-switch-when = "1">
        <a ng-class="{active: state.includes('main.chen')}" ui-sref="main.jun">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-kunnanrending"></use>
            </svg>
            我是下拉1</a>
    </dd>
    <dd class="top-class" ng-switch-when = "1">
        <a ng-class="{active: state.includes('main.chen')}" ui-sref="main.chen">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-kunnanrending"></use>
            </svg>
            我是下拉2</a>
    </dd>
</dl>
<!--jun-->
<dl ng-if="userRole === 2" ng-switch="secondClass">
    <dt>jun</dt>
    <dd class="top-class" ng-click="shSecondClass(1)">
        <a ng-class="{active: state.includes('main.jun')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-kunnanrending"></use>
            </svg>
            jun啊啊啊</a>
    </dd>
</dl>
